*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: chocolate;
    font-family: 'Poppins';
    font-weight: 600;
    
}

h1{
    color: white;
    text-align: center;
}

.tarjeta{
    background-color: white;
    width: 300px;
    
    border-radius: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 12px;
    border: 2px solid black;
    transition: all 0.5s ease-in-out;
}

.tarjeta h2{
    justify-content: center;
    align-items: center;
}

.tarjeta:hover{
    background-color: rgb(119, 216, 255);
    transform: scale(1.05);
    transform: rotate(3deg);
}

.tarjeta .imagen{
    width: 200px;
    
}

.tarjeta img{
    background-color: aliceblue;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 5%;
    text-align: center;
}

.tarjeta p{
    font-size: 15px;
    padding: 20px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    
}

#gato{
    color: blueviolet;
}

#perro{
    color: blue;
}

